*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    color: rgb(2, 69, 67);
}
span{
    color: rgb(41, 175, 228);
}





/* navigation */
nav{
    display: flex;
}
.logo{
    width: 100px;
    height:80px;
    
    border-radius: 8px;
    margin-left: 20px;
}
nav ul{
    display: flex;
    text-align: center;
    margin: 20px;
    margin-left:15%;

}
nav ul li{
    justify-content: space-between;
    justify-content: center;
    text-align: center;
list-style: none;
margin-left: 60px;
margin-right: 60px;
font-weight: 600;
font-size: medium;

}
nav ul li:hover{
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}
.btn{
    background-color: blue;
    width: 100px;
    height: 35px;
    color: white;
    border:2px solid white;
    border-radius: 6px;
    margin-top: 8px;
}
.btn:hover{
    background-color: black;
    cursor: pointer;
    text-decoration: underline;

}
.btn1{
    float: left;
    margin-left:140px ;}
    

    main{
        display: flex;
        justify-content: center;
        /* text-align: center; */
        margin-top: 100px;
    }
    .left{
        margin-left: 80px;
        margin-right:100px ;
    }
    .left h1{
        font-size: 60px;
        margin-bottom: 20px;
    }
.btn2{
    margin-top: 40px;
}
    
    
    

    
